.header-content{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    min-height:75vh;
    background:linear-gradient(#a95bc34d,rgba(141,39,173,0.5)),url("../../assests/cover.jpg") center/cover no-repeat ;
  
    flex-direction:column;
    
}
.cont{
    background: rgba(0, 0, 0, 0.5); /* Add a background color to improve text readability */
}
.header-title{
    font-size: 3.0rem;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
}
.header-text{
    margin-top:0.5rem;
    margin-bottom:1rem;
    padding-left: 50px;
    padding-right: 50px;
    opacity:0.8;
  font-size:1.5rem;
  font-weight:300;
}
